.outputValue {
  height: 35px;
  width: 90%;
  box-sizing: border-box;
  color: rgb(104, 2, 2);
  text-shadow: 1px 1px rgb(218, 216, 216);
  font-weight: bold;
  font-size: 13px;
  border-bottom: 2px solid rgb(151, 80, 54);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 360px) {
  .outputValue {
    height: 45px;
    font-size: 15px;
  }
}

@media screen and (min-width: 540px) {
  .outputValue {
    width: 75%;
    font-size: 17px;
  }
}

@media screen and (min-width: 768px) {
  .outputValue {
    height: 60px;
    width: 170px;
    font-size: 22px;
    border-bottom: 3px solid rgb(151, 80, 54);
  }
}

@media screen and (min-width: 1024px) {
  .outputValue {
    width: 230px;
    font-size: 28px;
  }
}
