.ftr {
  font-size: 10px;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px rgb(214, 211, 211);
  text-align: center;
  position: fixed;
  bottom: 10px;
  left: 33%;
}

@media screen and (min-width: 360px) {
  .ftr {
    font-size: 12px;
    left: 34%;
  }
}

@media screen and (min-width: 768px) {
  .ftr {
    font-size: 15px;
    left: 40%;
  }
}

@media screen and (min-width: 1024px) {
  .ftr {
    font-size: 18px;
    left: 43%;
  }
}
